h1 { 
    text-align: center;
    font-weight: 30;
    font-family: 'EB Garamond', serif;
    color:white;
} 
p {
    font-size:medium;
    text-align:justify;
   
}
li {
    font-size: x-large;
    list-style-type: decimal;
}  
.gran-margen {
    margin: 0px;
}
.imagen {
    width: 200px;
    height: 200px;
}
body {
    margin: 0px;
    background:rgb(39, 37, 37);
}
.contenedor {
  display: grid;
  grid-template-rows: auto 5fr auto;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-areas: 
    "header header header"
    "izq centro der"
    "suelo suelo suelo";
  grid-gap: 5px;        
  height: 100vh;
  width: 100%;   
  }
  #header {
    grid-area: header;
    background-color: rgb(61, 114, 61); 
  }
  #left-side { 
    grid-area: izq;
    background-color: rgb(172, 43, 43);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
  }
  #main {
    grid-area: centro;
    background-color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  #aside{
    grid-area: der;
    background-color: rgb(172, 43, 43);
    color: white;
  }
  #footer{
    grid-area: suelo;
    background-color: rgb(61, 114, 61);
  }