h1 { 
    text-align: center;
    font-weight: 30;
    font-family: 'EB Garamond', serif;
    color:white;
} 
p {
    font-size:medium;
    text-align:justify;
   
}
li {
    font-size: x-large;
    list-style-type: decimal;
}  
.gran-margen {
    margin: 16px;
}
.hola-code {
    /*background-color: gray;
    color: red;
    font-family: Roboto Mono,monospace;
    overflow-wrap: anywhere;*/
}
.imagen {
    width: 300px;
    height: 300px;
}
body {
    margin: 0%;
    background: teal;
}
.contenedor {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-gap: 10px;        
  height: 100vh;
  width: 100%;    
  }
  h1{
    margin: 0%;
    grid-area: header;
    background-color: black; 
  }
  #left-side{
    grid-area: nav;
    background-color: white;
    text-align: center;
  }
  #main {
    grid-area: main;
    background-color: white;
    text-align: center;
  }
  aside{
    grid-area: aside;
    background-color: white;
  }
  footer{
    grid-area: footer;
    background-color: lightgreen;
  }
}