h1 { 
    text-align: center;
    font-weight: 30;
    font-family: 'EB Garamond', serif;
    color:white;
}
p {
    font-size:medium;
    text-align:justify;
}
.gran-margen {
    margin: 0px;
}
.imagen {
    width: 200px;
    height: 200px;
}
.imagen2 {
  width: 400px;
  height: 200px;
}
body {
    margin: 0px;
    background: linear-gradient(10deg, rgb(238, 87, 87), blue);
}
.contenedor {
  display: grid;
  grid-template-rows: auto 5fr auto;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-areas: 
    "header header header"
    "izq centro der"
    "suelo suelo suelo";
  grid-gap: 10px;        
  height: 100vh;
  width: 100%;   
  }
  #header {
    grid-area: header;
    background-color: hsl(261, 49%, 33%);
    animation-name: opacidad;
    animation-duration: 3s;
  }
  @keyframes opacidad {
    25% {
      opacity: 0.1;
    }
  }
  #left-side { 
    grid-area: izq;
    background-color: transparent;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    animation-name: rubik;
    animation-duration: 2s;
    animation-delay: 2s;
    border-color: rgb(122, 41, 116);
    border-style: solid;
    border-radius: 50px;
  }
  @keyframes rubik {
    50% {
      opacity: 0.2;
    }
  }
  #main {
    grid-area: centro;
    background-color: transparent;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    animation-name: malab;
    animation-duration: 2s;
    animation-delay: 2s;
    border-color: rgb(122, 41, 116);
    border-style: solid;
    border-radius: 50px;
  }
  @keyframes malab {
    50% {
      opacity: 0.2;
    }
  }
  #aside{
    grid-area: der;
    background-color: transparent;
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-color: rgb(122, 41, 116);
    border-style: solid;
    border-radius: 50px;
  }
  #footer{
    grid-area: suelo;
    background-color: transparent;
  }
  